body {
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: white;
    line-height: 1.2em;
    margin-left: 4em;
    margin-right: 2em;
   }

/* paragraphs */
p  {
    padding: 0;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
   }

/* paragraphs */
table  {
    margin-top: 3.8em;
    margin-bottom: 2em;
    text-align: left;
   }
/* headings */
h1 {
    font-size: 195%;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    line-height: 1.6em;
    text-align: left;
    padding: 0;
    margin-top: 3.5em;
    margin-bottom: 1.7em;
   }
h2 {
    font-size: 122%;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
    padding: 0;
    margin-top: 4.5em;
    margin-bottom: 1.1em;
   }
h3 {
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
    padding: 0;
    margin-top: 4em;
    margin-bottom: 1.1em;
   }
h4 {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
    padding: 0;    
    margin-top: 4em;
    margin-bottom: 1.1em;
   }
h5 {
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 3em;
    margin-bottom: 1em;
   }
h6 {
    font-size: 80%;
    font-weight: bold;
    font-style: normal;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
   }

/* divisions */
div {
    padding: 0;
    margin-top: 0em;
    margin-bottom: 0em;
   }

	  ul {
	   margin: 0pt 0pt 12pt 10.7pt;
	   padding: 0pt 0pt 0pt 0pt;
	   list-style-type: square;
	   font-size: 10.5pt;
	   font-family: sans-serif;
			}
	  ol {
	   margin: 12pt 0pt 8pt 15pt;
	   padding: 0pt 0pt 0pt 0pt;
	   font-size: 10.5pt;
			}
	  li {
	   margin: 0pt 0pt 10.5pt 0pt;
	   padding: 0pt 0pt 0pt 0pt;
	   text-indent: 0pt;
	   font-size: 10.5pt;
	   display: list-item;
	   font-family: sans-serif;
			}

/* inline */
strong {
    font-weight: bold;
   }
em {
    font-style: italic;
   }
code {
    font-family: Courier New, Courier, monospace;
    font-size: 90%;
    padding: 0 0 0 0em;
   }
ins {
    background-color: yellow;
    text-decoration: underline;
   }
del {
    text-decoration: line-through;
   }


		a:hover {
		  color: #4398E1;
		  }

		a:active {
		  color: #4598E1;
		  text-decoration: none;
		  }

		a:link.review {
		  color: #AAAAAF;
		  }

		a:hover.review {
		  color: #4398E1;
		  }

		a:visited.review {
		  color: #444444;
		  }

		a:active.review {
		  color: #AAAAAF;
		  text-decoration: none;
		  }
